{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
	<form autocomplete="off" action="{{ path('app_image_add',{ 'weapon_id': weapon.id })}}" method="post" enctype="multipart/form-data">
		Select image to upload:
		<input required type="file" name="cx" id="fileToUpload">
		<input type="submit" value="Upload Image" name="submit">
	</form>
{% endblock %}

