{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<br>
{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
    </div>
        <input
            name="{{ field_name(form.image) }}"
            value="{{ field_value(form.image) }}"
            placeholder="Import"
            class="button-27 form"
            type="file"
        >

        <br>
        <button type="submit" class="button-18" >
        Submit
        </button>
    </div>

{% endblock %}

