{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<br>
{{ form_start(form) }}
{#    <div class="my-custom-class-for-errors">#}
{#    </div>#}
{#    <div class="mb-3">#}
        <label for="formFile" class="form-label">Import new {{ weapon.name }}</label>
        <input name="{{ field_name(form.image) }}" class="form-control" type="file" id="formFile">
{#    </div>#}

        <br>
        <button type="submit" class="button-18" >
        Import
        </button>
    </div>
    {{ form_end(form) }}

{% endblock %}

