{% extends 'base.Registration.html.twig' %}


{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<form action="{{ path('app_login') }}" method="post">
		<div class="form-group">
			<input type="text" placeholder="User Name" class="form-control" id="username" name="_username" value="{{ last_username }}">
		</div>
        <br>
		<div class="form-group">
            <input type="password" class="form-control" placeholder="Password" id="password" name="_password">
		</div>
        <br>
		<button type="submit" class="button-18">Connexion</button>

	</form>
{% endblock %}

