{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div style="text-align: center">
			<button class="button-17">  {{User.uuid }}
			</button>
		</div>

   {% for image in userWeapons %}
   		<div class="container-1">
   			<div class="card" style="width:55rem">
   				<a href="{{ path('app_image_one',{ 'image_id': image.id })}}">
   					<img class="card-img-top myModal" id="{{ image.id }}" src="{{ asset('mod/'~ image.url) }}" alt="Card image cap">
   				</a>
   			</div>
   		</div>
   	{% endfor %}
{% endblock %}
